<script src="statics/js/jquery-1.12.4.min.js?v=1.12.4"></script>
<script src="statics/js/jquery.serializejson.min.js?v=2.3.1"></script>
<script src="statics/js/bootstrap.min.js?v=3.3.6"></script>
<!-- bootstrap table -->
<script src="statics/plugins/bootstrap-table/bootstrap-table.min.js?v=1.12.1"></script>
<script src="statics/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js?v=1.12.1"></script>
<!--列调序-->
<script src="statics/plugins/bootstrap-table/extensions/reorder-columns/bootstrap-table-reorder-columns.js"></script>
<script src="statics/js/jquery-ui.min.js?v=1.12.1"></script>
<script src="statics/plugins/bootstrap-table/extensions/reorder-columns/jquery.dragtable.js"></script>
<!--导出-->
<script src="statics/plugins/bootstrap-table/extensions/export/bootstrap-table-export.min.js"></script>
<script src="statics/plugins/bootstrap-table/extensions/export/tableExport.js"></script>
<!--树形表格-->
<script src="statics/plugins/jqtreegrid/jquery.treegrid.min.js"></script>
<script src="statics/plugins/jqtreegrid/jquery.treegrid.extension.js"></script>
<!--[if lt IE 9]>
<script src="statics/js/html5shiv.min.js?v=3.7.3"></script>
<script src="statics/js/respond.min.js?v=1.4.2"></script>
<![endif]-->
<!-- layer弹窗 -->
<script src="statics/plugins/layer/layer.js?v=3.1.1"></script>
<!--第三方插件-->
<!--zTree js-->
<script src="statics/plugins/zTree/jquery.ztree.all.min.js?v=3.5.34"></script>
<!-- iCheck -->
<script src="statics/plugins/iCheck/icheck.min.js?v=1.0.2"></script>
<!--消息框-->
<script src="statics/plugins/toastr/toastr.min.js"></script>
<script type="text/javascript">
    /*icheck设置*/
    $('.i-checks').iCheck({
        checkboxClass: 'icheckbox_square-green',
        radioClass: 'iradio_square-green'
    });
    /*错误提示框设置*/
    toastr.options = {
        "closeButton": true,
        "debug": false,
        "positionClass": "toast-top-right",
        "showDuration": "500", //显示动画时间
        "hideDuration": "500", //隐藏动画时间
        "timeOut": "5000", //自动关闭超时时间
        "extendedTimeOut": "2000", //加长超时时间
        "showEasing": "swing", //显示动画缓冲方式
        "hideEasing": "swing", //隐藏动画缓冲方式
        "showMethod": "fadeIn", //显示动画方式
        "hideMethod": "fadeOut" //隐藏动画方式
    };
</script>
<script src="statics/plugins/validate/jquery.validate.min.js?v=1.13.0"></script>
<script src="statics/plugins/validate/messages_zh.min.js?v=1.13.0"></script>
<!--自定义js-->
<script src="statics/js/jquery.extend.js"></script>
<script src="statics/js/common.js"></script>
