<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="renderer" content="webkit">
<!-- bootstrap插件css -->
<link href="statics/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
<!-- font插件css -->
<link href="statics/css/font-awesome.min.css?v=4.7.0" rel="stylesheet">
<!-- bootstrap-table插件css -->
<link href="statics/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
<!-- bootstrap-table dragtable插件css -->
<link href="statics/plugins/bootstrap-table/extensions/reorder-columns/dragtable.css" rel="stylesheet">
<!-- 表格树插件css -->
<link href="statics/plugins/jqtreegrid/jquery.treegrid.css" rel="stylesheet">
<!-- zTree插件css -->
<link href="statics/plugins/zTree/css/metroStyle/metroStyle.css" rel="stylesheet">
<!-- iCheck插件css -->
<link href="statics/plugins/iCheck/skins/square/green.css?v=1.0.2" rel="stylesheet">
<!-- 提示插件css -->
<link href="statics/plugins/toastr/toastr.min.css" rel="stylesheet">
<!--[if lt IE 9]>
<meta http-equiv="refresh" content="0;ie.html"/>
<![endif]-->
<!--自定义CSS-->
<style type="text/css">
    label.error {
        color:#a94442;
        margin-bottom: 0px;
    }
    form .form-group {
        margin-bottom: 10px;
    }
</style>